In [19]:
import pandas as pd
import numpy as np
import requests as re

In [ ]:
# http://127.0.0.1:8090/api/collections/user_list/records

In [15]:
payload = {
    "phone_num": "test",
    "name": "test",
    "classes": "test",
    "gruop_lv1": "test",
    "gruop_lv2": "test",
    "gruop_lv3": "test",
    "tmp1": "test",
    "tmp2": "test"
}

# np.random.randint(1000, size=8)


def getLoginToken() -> str:
    json_headers = {'Content-Type': 'application/json; charset=utf-8'}
    resp = re.post(url='http://127.0.0.1:8090/api/collections/users/auth-with-password', headers=json_headers, json={"identity":"test_user","password":"test_user"})
    token = resp.json()['token']
    
    return token

In [33]:

test = pd.DataFrame(columns=['phone_num', 'name', 'classes', 'gruop_lv1', 'gruop_lv2', 'gruop_lv3', 'tmp1', 'tmp2'])
new1 = pd.Series(data={'phone_num':'1', 'name':'1', 'classes':'1', 'gruop_lv1':'1', 'gruop_lv2':'1', 'gruop_lv3':'1', 'tmp1':'1', 'tmp2':'1'})
new2 = pd.Series(data={'phone_num':'2', 'name':'2', 'classes':'2', 'gruop_lv1':'2', 'gruop_lv2':'2', 'gruop_lv3':'2', 'tmp1':'2', 'tmp2':'2'})
pd.concat([test, new1, new2], ignore_index=True)

phone_num    2
name         2
classes      2
gruop_lv1    2
gruop_lv2    2
gruop_lv3    2
tmp1         2
tmp2         2
dtype: object